.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  width: 100%;
  max-width: 18rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--card-background);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  border-radius: 8px 8px 0 0;
  max-height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  color: var(--primary-color);
}

.card-text {
  color: var(--muted-text-color);
  margin: 10px 0;
}

.card .btn {
  background-color: var(--secondary-color) !important;
  color: white !important;
  border-radius: 5px;
  border: none;
}

.card .btn:hover {
  background-color: darkgoldenrod !important;
}

@media (max-width: 768px) {
  .card {
      max-width: 100%;
  }

  .card img {
      max-height: 200px;
  }
}
